<ion-view>
    <ion-content padding="true">Dashboard</ion-content>
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Learn" icon="ion-university" ui-sref="dashboard.learn">
            <ion-nav-view name="learn"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Events" icon="ion-calendar" ui-sref="dashboard.events">
            <ion-nav-view name="events"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Projects" icon="ion-code" ui-sref="dashboard.projects">
            <ion-nav-view name="projects"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Members" icon="ion-person" ui-sref="dashboard.members">
            <ion-nav-view name="members"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
